/*
Template:  Webster - Responsive Multi-purpose HTML5 Template
Author: potenzaglobalsolutions.com
Design and Developed by: potenzaglobalsolutions.com

NOTE: This file contains the styling for the band Template. You can edit/add anything in this file!
*/
 
 

 .error-06 h1 { font-size: 200px; line-height: 200px; }
 .error-06 h2 { font-size: 40px; line-height: 40px; }