@{

    var _themeContext = EngineContext.Current.Resolve<IThemeContext>();
    var _workContext = EngineContext.Current.Resolve<IWorkContext>();
    var _storeInformationSettings = EngineContext.Current.Resolve<StoreInformationSettings>();
}

<div id="back-to-top"><a class="top arrow" href="#top"><i class="fa fa-angle-up"></i> <span>TOP</span></a></div>

<!--=================================
 javascripts -->
<!-- jquery -->
<script src="/@_storeInformationSettings.DefaultStoreTheme/js/jquery-3.4.1.min.js"></script>

<!-- All plugins -->
<script src="/@_storeInformationSettings.DefaultStoreTheme/js/plugins-jquery.js"></script>

<!-- Plugins path -->
<script>var plugin_path = '/@_storeInformationSettings.DefaultStoreTheme/js/';</script>

<!-- REVOLUTION JS FILES -->
<script src="/@_storeInformationSettings.DefaultStoreTheme/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="/@_storeInformationSettings.DefaultStoreTheme/revolution/js/jquery.themepunch.revolution.min.js"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="/@_storeInformationSettings.DefaultStoreTheme/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="/@_storeInformationSettings.DefaultStoreTheme/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="/@_storeInformationSettings.DefaultStoreTheme/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="/@_storeInformationSettings.DefaultStoreTheme/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="/@_storeInformationSettings.DefaultStoreTheme/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="/@_storeInformationSettings.DefaultStoreTheme/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="/@_storeInformationSettings.DefaultStoreTheme/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="/@_storeInformationSettings.DefaultStoreTheme/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="/@_storeInformationSettings.DefaultStoreTheme/revolution/js/extensions/revolution.extension.video.min.js"></script>

<!-- revolution custom -->
<script src="/@_storeInformationSettings.DefaultStoreTheme/revolution/js/revolution-custom.js"></script>

<!-- custom -->
<script src="/@_storeInformationSettings.DefaultStoreTheme/js/custom.js"></script>

<!-- multiplejs -->
<script src="/@_storeInformationSettings.DefaultStoreTheme/js/multiplescrolljs/dist/jquery.multiscroll.js"></script>

<script src="/admin/assets/js/linq/linq.min.js"></script>

<script src="/@_storeInformationSettings.DefaultStoreTheme/js/sweetalert2.all.js"></script>
<script src="/@_storeInformationSettings.DefaultStoreTheme/js/fancybox/dist/jquery.fancybox.min.js"></script>

